---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout center={true}>
  <div class="text-xl sm:text-2xl space-y-2">
    <div class="font-bold text-3xl mb-10">
      <p>Hola,</p>
      <span>Soy Sergio.</span>
    </div>
    <h1 class="text-[#EEEEE2]/70 tracking-wide">
      Soy un desarrollador de software y entusiasta del código libre con
      experiencia en desarrollo fullstack.
    </h1>
    <h1 class="text-[#EEEEE2]/70 tracking-wide">
      En mi tiempo libre, disfruto trabajando en proyectos personales y
      compartiendo mis aprendizajes en mi <a
        href="/blog"
        target="_blank"
        class="text-[#EEEEE2] hover:text-green-400 underline decoration-green-400 transition duration-300 ease-in-out"
        >blog</a
      >.
    </h1>
  </div>
</BaseLayout>
