---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout center={true}>
  <div class="text-center text-xl sm:text-2xl">
    <i class="ri-quill-pen-fill text-lg sm:text-xl"></i>
    <h1 class="text-[#EEEEE2]/70 mt-2 tracking-wide">
      Hola soy <span class="text-[#EEEEE2] underline decoration-blue-400"
        >Sergio Galaz</span
      >, desarrollador de software y entusiasta del código libre. Actualmente
      trabajo en <a
        href="https://www.bsale.cl/"
        target="_blank"
        class="text-[#EEEEE2] hover:text-orange-400 underline decoration-orange-400 transition duration-300 ease-in-out"
        >Bsale</a
      > como desarrollador fullstack. Me gusta realizar poyectos personales en mi
      tiempo libre y compartir conocimientos en mi <a
        href="/blog"
        target="_blank"
        class="text-[#EEEEE2] hover:text-green-400 underline decoration-green-400 transition duration-300 ease-in-out"
        >blog</a
      >.
    </h1>
  </div>
</BaseLayout>
