<footer class="flex justify-center space-x-2 text-xl">
  <a href="https://twitter.com/Ga1az" target="_blank">
    <i class="ri-twitter-fill hover:text-white/60 transition-all"></i>
  </a>
  <a href="https://github.com/ga1az" target="_blank">
    <i class="ri-github-fill hover:text-white/60 transition-all"></i>
  </a>
  <a href="https://www.linkedin.com/in/sergio-galaz/" target="_blank">
    <i class="ri-linkedin-box-fill hover:text-white/60 transition-all"></i>
  </a>
</footer>
